<div>
  <h2>About This Angular App</h2>
  <p>Github: <a href="https://github.com/nfgoto/go2todo">https://github.com/nfgoto/go2todo</a></p>
  <p>This is the Go2Todo Angular demo app.</p>
  <h2>Go2Todo</h2>
  <p> Angular (TypeScript) Task Interactive List Prototype App
  </p>
  <p>Interactive Task List</p>
  <ul class="list-group">
    <li class="list-group-item col-md-3">Data binding</li>
    <li class="list-group-item col-md-3">Services</li>
    <li class="list-group-item col-md-3">Dependency injection</li>
    <li class="list-group-item col-md-3">HTTP client</li>
    <li class="list-group-item col-md-3">Observables</li>
    <li class="list-group-item col-md-3">Routing</li>
  </ul>
  <br>
  <h2>Stack</h2>
  <ul class="list-group">
    <li class="list-group-item col-md-3">Angular 7</li>
    <li class="list-group-item col-md-3">TypeScript</li>
    <li class="list-group-item col-md-3">Bootswatch</li>
    <li class="list-group-item col-md-3">HTTP client</li>
    <li class="list-group-item col-md-3">Github Pages</li>
  </ul>
</div>